.search{
    width: 80%;
    height: 100px;
    margin-left: 10%;
}
.search>.logo{
    width: 28%;
    height: 100px;
    float: left;
    margin-left: 5%;
}
.search>span{
    margin-left: 2%;
    font-size: 24px;
    color: brown;
    width: 28%;
    float: left;
    text-align: center;
    margin-top: 40px;
}
form{
    width: 28%;
    height: 100px;
    float: left;
}
form>input:first-child{
    width: 220px;
    height: 24px;
    margin-top: 40px;
}
form>input:last-child{
    width:50px;
    height: 30px;
    background: brown;
    font-size: 11px;
    color: aliceblue;
}
nav>ul>li{
    margin-left: 45px !important;
}
nav>ul{
    margin-left:11%;
}
nav{
    background-color:brown !important;
}
.banner{
    width: 1450px;
    height: 450px;
    overflow: hidden;
}
.banner>img{
    display: block;
    margin-left: 0 auto;
}
.left{
    width: 71%;
    height: 920px;
    float: left;
}
.right{
    width: 28%;
    height: 920px;
    float: right;
}
.title{
    width: 100%;
    height: 40px;
    background-color: brown;
}
.t_name{
    margin-top: 6px;
    margin-left: 10px;
    float: left;
    color: white;
    font-size: 18px;
}
.more{
    margin-top:10px ;
    color: white;
    margin-right: 10px;
    float: right;
}
.news_list{
    width: 60%;
    margin-top: 8px;
    margin-left: 1px;
    float: right;
}
.model01{
    width: 100%;
    height: 330px;
}
.news_list>ul>li{
    font-size: 15px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 2px;
    color: black;
    border-bottom: dotted;
    list-style: none;
}
.news_list>ul>li>span{
    float: right;
}
.news_list>ul>li>a{
    text-decoration: none;
    color: black;
}
.model02{
    width: 100%;
    height: 600px;
}
.model02>.title{
    background-color:white !important;
    border-bottom:3px solid brown ;
}
.model02>.title>.t_name{
    margin:0 !important;
    width: 113px;
    height: 40px;
    float: left;
    color: white;
    font-size: 18px;
    background-color: brown;
}
.model02>.title>.t_name>p{
    margin-top: 8px;
    text-align: center;
}
.model02>.title>.more>p{
    color: rgb(96, 97, 98) !important;
}
.cards{
    margin-top: 10px;
    width: 100%;
    height: 500px;
}
.card{
    width: 28%;
    height: 236px;
    border: 1px solid rgb(136, 137, 138);
    float: left;
    margin-top: 3%;
}
.card:first-child,.card:nth-child(2),.card:nth-child(4),.card:nth-child(5){
    margin-right: 7%;
}
.card>img{
    width: 100%;
    height: 160px;
}
.card_title>h3{
    text-align: center;
}
.model01>ul{
    width: 90%;
}
.model01>ul>li>span{
    float: right;
}
.model01>ul>li>a{
    text-decoration: none;
    color: black;
}
.model01>ul>li{
    font-size: 15px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 2px;
    color: black;
    border-bottom: dotted;
}
.model02>ul>li{
    font-size: 15px;
    height: 26px;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 2px;
    color: black;
    border-bottom: dotted;
}
.model02>ul>li>a{
    text-decoration: none;
    color: black;
}
.model02>ul>li>span{
    float: right;
}
.right>.model02:nth-child(2){
    height: 306px;
}
.right>.model02:last-child{
    height: 306px;
    margin-top: 35px;
}
.container>.model02>.title{
    margin-top: 50px;
    height: 50px;
}
.container>.model02{
    float: left;
}
body{
    height: 1830px;
}
.con03{
    margin-top: 10px;
}
.con03>.model02{
    height: 200px;
}
.footer{
    float: none;
    margin-top: 10px;
    width: 100%;
    height: 110px;
    margin: 0 auto;
    float: left;
    background-color: brown;
}
.footer>p{
    text-align: center;
    font-size: 20px;
    color: white;
}
.link{
    float: left;
    font-size: 16px;
    margin-left: 18px;
}
.link>a{
    text-decoration: none;
    color: rgb(52, 52, 52);
}
.con02{
    margin-top: 10px;
}
.box{
    width: 2900px;
    height: 352px;
    animation: move 20s infinite;
}
@keyframes move {
   0%{
       transform: translateX(0);
   }
   30%{
       transform: translateX(0);
   }
   60%{
       transform: translateX(-1450px);
   }
   100%{
       transform: translateX(-1450px);
   }
}
.box img{
  float: left;
  width:1450px;
  height:450px;
}


.active_img{
    width: 390px;
    height: 270px;
    margin-top: 8px;
    float: left;
    overflow: hidden;
}
.active_img>.box{
    width: 1170px;
    height: 270px;
    animation: move01 20s infinite;
}
@keyframes move01 {
   0%{
       transform: translateX(0);
   }
   30%{
       transform: translateX(-390px);
   }
   60%{
       transform: translateX(-780px);
   }
   100%{
       transform: translateX(-780px);
   }
}
.active_img>.box img{
  float: left;
  width:390px;
  height:270px;
}